body {
    height: 100%;
    overflow: hidden;
    margin: 1%;
    margin-left: 0.5%;

    font-family: sans-serif;
    font-size: 11pt;
}

kbd {
    font-family: menlo, monospace;
    padding: 1pt;
}

kbd:hover {
    background-color: #e6e6e6;
    padding: 1pt;
    border-radius: 3pt;
}

.bold {
    font-weight: bold;
}

.map svg {
    width: 85%;
    height: 85%;
}

.info {
    width: 85%;
    height: 40%;
    padding: 0.5%;
    overflow-y: scroll;
}

.countries {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 14%;
    overflow: scroll;
    top: 1%;
    right: 0;
    padding-bottom: 1%;
}

.countries div {
    box-sizing: border-box;
    font-family: menlo, monospace;
    padding: 3% 0;
    cursor: pointer;
}

.countries div:hover {
    font-weight: bold;
}

.countries div:active {
    color: #89ab87;
}

.hidden {
    display: none;
}
